/* =========================================
   RESET GLOBAL
========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", "Segoe UI", Roboto, sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease;
}

/* Lists */
ul {
    list-style: none;
}

/* Buttons */
button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}

/* Prevent button focus weird default */
button:focus {
    outline: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 10px;
}